In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import pickle 
%matplotlib inline

* Set pandas display options

In [2]:
pd.options.display.max_columns = 999
pd.set_option('display.max_rows', 50)

In [3]:
dataseturl = 'https://gist.githubusercontent.com/pfessas/5fc3d85d35201482c6cda4c63a837b48/raw/7f5e2b81f4a654aed7e89dd323558f72950c3ae2/airlines.csv'

In [4]:
raw = pd.read_csv(dataseturl)

In [5]:
raw.head(2)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,8,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",79.0,12.0,5.34,0.59,2.88,0.0,3.19,0.0,0.0,909.0,384.0,70.0,250.0,0.0,205.0
1,2022,8,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",124.0,11.0,4.19,0.00,4.49,0.0,2.32,1.0,1.0,675.0,176.0,0.0,231.0,0.0,268.0

In [6]:
raw.shape

(33557, 21)

* Examine missingness

In [7]:
raw.isnull().sum()

year                    0
month                   0
carrier                 0
carrier_name            0
airport                 0
airport_name            0
arr_flights            27
arr_del15              37
carrier_ct             27
weather_ct             27
nas_ct                 27
security_ct            27
late_aircraft_ct       27
arr_cancelled          27
arr_diverted           27
arr_delay              27
carrier_delay          27
weather_delay          27
nas_delay              27
security_delay         27
late_aircraft_delay    27
dtype: int64

* Check all rows with NAs

In [8]:
na_mask = raw.isna().any(axis=1)
sum(na_mask)

37

In [9]:
raw[na_mask].head(5)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
3252,2022,7,YV,Mesa Airlines Inc.,HSV,"Huntsville, AL: Huntsville International-Carl ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7985,2022,4,OO,SkyWest Airlines Inc.,LNK,"Lincoln, NE: Lincoln Airport",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8412,2022,4,YV,Mesa Airlines Inc.,MLB,"Melbourne, FL: Melbourne International",1.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8439,2022,4,YV,Mesa Airlines Inc.,SHV,"Shreveport, LA: Shreveport Regional",1.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8479,2022,4,YX,Republic Airline,GRB,"Green Bay, WI: Green Bay Austin Straubel Inter...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* Let's drop all NAs for now

In [10]:
df = raw.dropna()

In [11]:
df.isnull().sum().sum()

0

* Alternatively we could have used **fillna()** to fill the NAs

In [12]:
raw.isnull().sum()

year                    0
month                   0
carrier                 0
carrier_name            0
airport                 0
airport_name            0
arr_flights            27
arr_del15              37
carrier_ct             27
weather_ct             27
nas_ct                 27
security_ct            27
late_aircraft_ct       27
arr_cancelled          27
arr_diverted           27
arr_delay              27
carrier_delay          27
weather_delay          27
nas_delay              27
security_delay         27
late_aircraft_delay    27
dtype: int64

In [13]:
raw['weather_ct'] = raw['weather_ct'].fillna(raw['weather_ct'].mean())
raw.isnull().sum()

year                    0
month                   0
carrier                 0
carrier_name            0
airport                 0
airport_name            0
arr_flights            27
arr_del15              37
carrier_ct             27
weather_ct              0
nas_ct                 27
security_ct            27
late_aircraft_ct       27
arr_cancelled          27
arr_diverted           27
arr_delay              27
carrier_delay          27
weather_delay          27
nas_delay              27
security_delay         27
late_aircraft_delay    27
dtype: int64

In [14]:
columns_with_nas = raw.columns[raw.isnull().any(axis=0)]
dictionary_with_mean_for_missing_columns = raw[columns_with_nas].describe().T['mean'].to_dict()
raw = raw.fillna(dictionary_with_mean_for_missing_columns)
raw.isnull().sum()

year                   0
month                  0
carrier                0
carrier_name           0
airport                0
airport_name           0
arr_flights            0
arr_del15              0
carrier_ct             0
weather_ct             0
nas_ct                 0
security_ct            0
late_aircraft_ct       0
arr_cancelled          0
arr_diverted           0
arr_delay              0
carrier_delay          0
weather_delay          0
nas_delay              0
security_delay         0
late_aircraft_delay    0
dtype: int64

* How to select specific columns

In [15]:
raw[["year", "month","arr_delay"]]
raw.filter(items=["year", "month","arr_delay"])
raw.loc[:, ["year", "month","carrier_name"]]
raw.iloc[:, [0,3]] 
raw.filter(regex="carrier_|arr_")

,carrier_name,arr_flights,arr_del15,carrier_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay
0,Endeavor Air Inc.,79.0,12.0,5.34,0.0,0.0,909.0,384.0
1,Endeavor Air Inc.,124.0,11.0,4.19,1.0,1.0,675.0,176.0
2,Endeavor Air Inc.,62.0,4.0,3.18,0.0,0.0,193.0,158.0
3,Endeavor Air Inc.,162.0,15.0,5.36,1.0,0.0,1110.0,758.0
4,Endeavor Air Inc.,123.0,18.0,3.84,10.0,0.0,984.0,172.0
...,...,...,...,...,...,...,...,...
33552,Republic Airline,131.0,8.0,4.34,1.0,2.0,582.0,328.0
33553,Republic Airline,253.0,19.0,6.45,2.0,0.0,1039.0,418.0
33554,Republic Airline,31.0,4.0,0.00,1.0,0.0,191.0,0.0
33555,Republic Airline,2.0,0.0,0.00,0.0,0.0,0.0,0.0
33556,Republic Airline,27.0,0.0,0.00,0.0,0.0,0.0,0.0

* How to filter specific rows

In [16]:
raw[(raw["weather_delay"]>raw["weather_delay"].mean())]
raw.query("(month>6) & (arr_delay >3500)")
raw.loc[[9,30],:]
raw.iloc[[0,1,2], :]

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,8,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",79.0,12.0,5.34,0.59,2.88,0.0,3.19,0.0,0.0,909.0,384.0,70.0,250.0,0.0,205.0
1,2022,8,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",124.0,11.0,4.19,0.00,4.49,0.0,2.32,1.0,1.0,675.0,176.0,0.0,231.0,0.0,268.0
2,2022,8,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",62.0,4.0,3.18,0.00,0.51,0.0,0.31,0.0,0.0,193.0,158.0,0.0,21.0,0.0,14.0

* Check datatypes

In [17]:
df = raw.copy()

In [18]:
raw.dtypes

year                     int64
month                    int64
carrier                 object
carrier_name            object
airport                 object
airport_name            object
arr_flights            float64
arr_del15              float64
carrier_ct             float64
weather_ct             float64
nas_ct                 float64
security_ct            float64
late_aircraft_ct       float64
arr_cancelled          float64
arr_diverted           float64
arr_delay              float64
carrier_delay          float64
weather_delay          float64
nas_delay              float64
security_delay         float64
late_aircraft_delay    float64
dtype: object

![](https://miro.medium.com/max/720/1*r-Qgom-7vHyGHYxO7K6Mxw.png)

* Lets cast certain columns to integers

In [19]:
int_cols = {x:'int32' for x in df.columns if x.endswith('_delay')}
int_cols.update({'year':'int32','month':'int32'})
int_cols['arr_flights'] = 'int32'
int_cols

{'arr_delay': 'int32',
 'carrier_delay': 'int32',
 'weather_delay': 'int32',
 'nas_delay': 'int32',
 'security_delay': 'int32',
 'late_aircraft_delay': 'int32',
 'year': 'int32',
 'month': 'int32',
 'arr_flights': 'int32'}

In [20]:
df.dtypes

year                     int64
month                    int64
carrier                 object
carrier_name            object
airport                 object
airport_name            object
arr_flights            float64
arr_del15              float64
carrier_ct             float64
weather_ct             float64
nas_ct                 float64
security_ct            float64
late_aircraft_ct       float64
arr_cancelled          float64
arr_diverted           float64
arr_delay              float64
carrier_delay          float64
weather_delay          float64
nas_delay              float64
security_delay         float64
late_aircraft_delay    float64
dtype: object

In [21]:
df = df.astype(int_cols)

* Lets cast certain columns to category - pandas efficient way for storing categorical data

In [22]:
for col in df.loc[:,'carrier':'airport_name'].columns:
    print(col)
    df[col] = df[col].astype('category')

carrier
carrier_name
airport
airport_name

* Notice 'int32' and 'category' types - is what we just changed

In [23]:
df.dtypes

year                      int32
month                     int32
carrier                category
carrier_name           category
airport                category
airport_name           category
arr_flights               int32
arr_del15               float64
carrier_ct              float64
weather_ct              float64
nas_ct                  float64
security_ct             float64
late_aircraft_ct        float64
arr_cancelled           float64
arr_diverted            float64
arr_delay                 int32
carrier_delay             int32
weather_delay             int32
nas_delay                 int32
security_delay            int32
late_aircraft_delay       int32
dtype: object

* In terms of memory usage :

In [24]:
print(f'We managed to decrease memory usage by {(1 - (df.memory_usage(deep=True).sum()/raw.memory_usage(deep=True).sum()))*100:.2f}%')

We managed to decrease memory usage by 74.72%

* Let's see the numeric summary

In [25]:
df.describe(include='number').T

,count,mean,std,min,25%,50%,75%,max
year,33557.0,2021.405370,0.490971,2021.0,2021.00,2021.00,2022.00,2022.00
month,33557.0,5.770897,3.192519,1.0,3.00,6.00,8.00,12.00
arr_flights,33557.0,312.890306,867.504913,1.0,42.00,89.00,214.00,18388.00
arr_del15,33557.0,58.517691,162.287387,0.0,6.00,15.00,41.00,3479.00
carrier_ct,33557.0,22.496761,57.529511,0.0,2.11,6.09,17.62,1147.00
weather_ct,33557.0,2.384702,8.291975,0.0,0.00,0.44,1.96,226.00
nas_ct,33557.0,14.041169,46.069017,0.0,0.56,2.91,8.71,1391.74
security_ct,33557.0,0.230887,1.032099,0.0,0.00,0.00,0.00,58.69
late_aircraft_ct,33557.0,19.346772,63.017611,0.0,1.00,3.75,11.81,1531.81
arr_cancelled,33557.0,6.980137,30.484594,0.0,0.00,1.00,4.00,1565.00
arr_diverted,33557.0,0.763316,3.465812,0.0,0.00,0.00,0.00,154.00
arr_delay,33557.0,3911.490032,11806.119987,0.0,309.00,912.00,2597.00,305694.00
carrier_delay,33557.0,1578.437703,4773.954918,0.0,107.00,363.00,1153.00,119425.00
weather_delay,33557.0,243.478529,927.152809,0.0,0.00,20.00,156.00,27876.00
nas_delay,33557.0,658.313526,2406.470907,0.0,17.00,108.00,357.00,84155.00
security_delay,33557.0,11.056709,60.459088,0.0,0.00,0.00,0.00,3760.00
late_aircraft_delay,33557.0,1420.202163,4713.089031,0.0,45.00,240.00,875.00,143192.00

* Date Handling

In [26]:
df.insert(0, "day", 1)
df.day = df.day.astype('int32')
df = df.assign(date = pd.to_datetime(df[["year", "month", "day"]]))
df['week_day'] = df.date.dt.day_name()

In [27]:
df['quarter']        = df.date.dt.quarter
df['quarter_w_cut']  = pd.cut(df.quarter,4,labels=[1,2,3,4])

* String Columns Handling

In [28]:
df[["county_state","airport_name"]] = df['airport_name'].str.split(pat =':',n=2, expand=True)
df[["county","state"]]              = df['county_state'].str.split(pat =',',n=2, expand=True)
df["county"]       = df["county"].str.strip()
df["state"]        = df["state"].str.strip()
df["airport_name"] = df["airport_name"].str.strip()

In [29]:
normalized_state_df = pd.read_csv('https://worldpopulationreview.com/static/states/abbr-name.csv',header=None)
normalized_state_df.columns = ["state","state_name"]

In [30]:
df = df.merge(
    normalized_state_df,
    how='left',
    left_on='state',
    right_on='state')
df.head()

,day,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,date,week_day,quarter,quarter_w_cut,county_state,county,state,state_name
0,1,2022,8,9E,Endeavor Air Inc.,ABY,Southwest Georgia Regional,79,12.0,5.34,0.59,2.88,0.0,3.19,0.0,0.0,909,384,70,250,0,205,2022-08-01,Monday,3,3,"Albany, GA",Albany,GA,Georgia
1,1,2022,8,9E,Endeavor Air Inc.,ACK,Nantucket Memorial,124,11.0,4.19,0.00,4.49,0.0,2.32,1.0,1.0,675,176,0,231,0,268,2022-08-01,Monday,3,3,"Nantucket, MA",Nantucket,MA,Massachusetts
2,1,2022,8,9E,Endeavor Air Inc.,AEX,Alexandria International,62,4.0,3.18,0.00,0.51,0.0,0.31,0.0,0.0,193,158,0,21,0,14,2022-08-01,Monday,3,3,"Alexandria, LA",Alexandria,LA,Louisiana
3,1,2022,8,9E,Endeavor Air Inc.,AGS,Augusta Regional at Bush Field,162,15.0,5.36,1.31,4.52,0.0,3.81,1.0,0.0,1110,758,49,149,0,154,2022-08-01,Monday,3,3,"Augusta, GA",Augusta,GA,Georgia
4,1,2022,8,9E,Endeavor Air Inc.,ALB,Albany International,123,18.0,3.84,1.31,4.53,0.0,8.32,10.0,0.0,984,172,41,313,0,458,2022-08-01,Monday,3,3,"Albany, NY",Albany,NY,New York

In [31]:
mask_state_na   = df[['state','state_name']].drop_duplicates().reset_index().state_name.isna()

In [32]:
unmapped_states = df[['state','state_name']].drop_duplicates().reset_index()[mask_state_na].state.values.tolist()
unmapped_states

['PR', 'VI', 'TT']

In [33]:
normalized_state_df

   state     state_name
0     AL        Alabama
1     AK         Alaska
2     AZ        Arizona
3     AR       Arkansas
4     CA     California
..   ...            ...
46    VA       Virginia
47    WA     Washington
48    WV  West Virginia
49    WI      Wisconsin
50    WY        Wyoming

[51 rows x 2 columns]

In [34]:
new_state_dict = {'state': ['PR', 'VI'],'state_name_2': ['Puerto Rico', 'Virgin Islands']} 
new_state_df = pd.DataFrame.from_dict(new_state_dict)
new_state_df

  state    state_name_2
0    PR     Puerto Rico
1    VI  Virgin Islands

In [35]:
df = df.merge(
    new_state_df,
    how='left',
    left_on='state',
    right_on='state')
df.head()

,day,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,date,week_day,quarter,quarter_w_cut,county_state,county,state,state_name,state_name_2
0,1,2022,8,9E,Endeavor Air Inc.,ABY,Southwest Georgia Regional,79,12.0,5.34,0.59,2.88,0.0,3.19,0.0,0.0,909,384,70,250,0,205,2022-08-01,Monday,3,3,"Albany, GA",Albany,GA,Georgia,NaN
1,1,2022,8,9E,Endeavor Air Inc.,ACK,Nantucket Memorial,124,11.0,4.19,0.00,4.49,0.0,2.32,1.0,1.0,675,176,0,231,0,268,2022-08-01,Monday,3,3,"Nantucket, MA",Nantucket,MA,Massachusetts,NaN
2,1,2022,8,9E,Endeavor Air Inc.,AEX,Alexandria International,62,4.0,3.18,0.00,0.51,0.0,0.31,0.0,0.0,193,158,0,21,0,14,2022-08-01,Monday,3,3,"Alexandria, LA",Alexandria,LA,Louisiana,NaN
3,1,2022,8,9E,Endeavor Air Inc.,AGS,Augusta Regional at Bush Field,162,15.0,5.36,1.31,4.52,0.0,3.81,1.0,0.0,1110,758,49,149,0,154,2022-08-01,Monday,3,3,"Augusta, GA",Augusta,GA,Georgia,NaN
4,1,2022,8,9E,Endeavor Air Inc.,ALB,Albany International,123,18.0,3.84,1.31,4.53,0.0,8.32,10.0,0.0,984,172,41,313,0,458,2022-08-01,Monday,3,3,"Albany, NY",Albany,NY,New York,NaN

In [36]:
df['state_name'] = df['state_name'].combine_first(df['state_name_2'])
df = df.drop(['state_name_2'],axis = 1)
df['state_name'] = df['state_name'].fillna("Undefined")
df.to_clipboard()

* Rename

In [37]:
df.columns = [x.replace("_ct","_count") for x in df.columns]

In [38]:
my_dict = {
    'arr_': 'arrival_'
}
for key, value in my_dict.items():
    df.columns = df.columns.str.replace(key, value)

* Value Counts

In [39]:
df.airport.value_counts()

AUS    306
MSP    298
BNA    298
PIT    297
RDU    293
      ...
DIK      8
CDB      8
GST      8
LYH      8
BIH      7
Name: airport, Length: 372, dtype: int64

In [40]:
df.airport.value_counts(normalize=True)

AUS    0.009119
MSP    0.008880
BNA    0.008880
PIT    0.008851
RDU    0.008731
         ...
DIK    0.000238
CDB    0.000238
GST    0.000238
LYH    0.000238
BIH    0.000209
Name: airport, Length: 372, dtype: float64

In [41]:
df.groupby(['airport','year','month']).size()

airport  year  month
ABE      2021  1        5
               2        4
               3        4
               4        4
               5        5
                       ..
YUM      2022  8        1
               9        0
               10       0
               11       0
               12       0
Length: 8928, dtype: int64

In [42]:
df.groupby(["airport","year","month"]).airport.count()

airport  year  month
ABE      2021  1        5
               2        4
               3        4
               4        4
               5        5
                       ..
YUM      2022  8        1
               9        0
               10       0
               11       0
               12       0
Name: airport, Length: 8928, dtype: int64

* Which airlines belong in the 10% lowest in terms of counts

In [78]:
df_airport_count_series   = df.groupby(["airport"]).airport.count().sort_values(ascending=False)
df_airport_list_10pct_low = df_airport_count_series[df_airport_count_series <= df_airport_count_series.quantile(0.1)].index.tolist()
df_airport_list_10pct_low

['CIU',
 'BRD',
 'BPT',
 'RKS',
 'CPR',
 'BQK',
 'CNY',
 'SHR',
 'SHD',
 'SGU',
 'BRW',
 'CGI',
 'SFB',
 'BTM',
 'SAF',
 'CMX',
 'SCK',
 'CDC',
 'CMI',
 'CDV',
 'BLV',
 'SPS',
 'BJI',
 'SLN',
 'YKM',
 'YAK',
 'XWA',
 'ABR',
 'WRG',
 'ABY',
 'VLD',
 'VEL',
 'VCT',
 'USA',
 'TXK',
 'TWF',
 'ACT',
 'ACV',
 'ACY',
 'TTN',
 'ADK',
 'ADQ',
 'ALO',
 'SWO',
 'ALW',
 'APN',
 'ASE',
 'AZA',
 'BET',
 'DBQ',
 'SPN',
 'BFF',
 'SMX',
 'RIW',
 'DDC',
 'RHI',
 'HYS',
 'OTZ',
 'OTH',
 'RFD',
 'GCK',
 'GGG',
 'OME',
 'GTR',
 'GUM',
 'HGR',
 'HIB',
 'MVY',
 'HTS',
 'IMT',
 'EWN',
 'INL',
 'JMS',
 'MKG',
 'JST',
 'LAR',
 'LBE',
 'LBF',
 'LBL',
 'MEI',
 'LCK',
 'LWB',
 'LWS',
 'PAH',
 'GCC',
 'PVU',
 'PIB',
 'PLN',
 'DHN',
 'EAR',
 'PIH',
 'PRC',
 'PIE',
 'DEC',
 'DVL',
 'PSG',
 'ESC',
 'EAU',
 'EKO',
 'PSM',
 'PHF',
 'PGD',
 'PUB',
 'PUW',
 'EAT',
 'OWB',
 'HOB',
 'MCW',
 'ALS',
 'COD',
 'OGS',
 'FOD',
 'ILG',
 'STC',
 'OGD',
 'ERI',
 'CYS',
 'ATY',
 'PIR',
 'PPG',
 'TBN',
 'WYS',
 'BKG',
 'HYA',
 'HVN',
 'DIK',
 'CDB',
 'GST',
 'LYH',
 'BIH']

* Which airlines belong in the 10% largest in terms of median delay

In [88]:
df_airport_delay_series   = df.groupby(["airport"]).arrival_delay.median()
df_airport_delay_series   = df_airport_delay_series[df_airport_delay_series >= df_airport_delay_series.quantile(0.9)].index.tolist()
df_airport_delay_series

['ACY',
 'ASE',
 'ATL',
 'AZA',
 'BOS',
 'DCA',
 'DEN',
 'DFW',
 'DTW',
 'EWR',
 'FLL',
 'HNL',
 'IAH',
 'ISP',
 'JFK',
 'JNU',
 'LAS',
 'LAX',
 'LGA',
 'MCO',
 'MIA',
 'OGG',
 'ORD',
 'PDX',
 'PGD',
 'PHL',
 'PHX',
 'PIE',
 'RSW',
 'SAF',
 'SAN',
 'SEA',
 'SFB',
 'SFO',
 'SGU',
 'SJU',
 'TPA',
 'TTN']

* Output

In [89]:
df.to_pickle("df.pkl")